In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [28]:
tax_df = pd.read_csv("2012taxInfo.csv")

In [29]:
tax_df

,STATEFIPS,STATE,zipcode,AGI_STUB,N1,MARS1,MARS2,MARS4,PREP,N2,...,N09600,A09600,N06500,A06500,N10300,A10300,N11901,A11901,N11902,A11902
0,1,AL,0,1,889920,490850,129070,256900,526740,1505430,...,0,0,269140,168057,387720,314297,59310,40782,785950,2040191
1,1,AL,0,2,491150,194370,159200,123350,293480,1034650,...,0,0,370140,854669,389320,937609,62450,85568,421290,1185415
2,1,AL,0,3,254280,68160,148960,31480,157230,591880,...,100,73,242260,1214154,245280,1286668,55290,113674,193020,550512
3,1,AL,0,4,160160,23020,126140,9030,97620,420830,...,260,318,158560,1281451,158980,1342424,38890,104526,116570,388708
4,1,AL,0,5,183320,15880,161260,4890,110520,517060,...,2350,4924,182620,3193351,182800,3319526,66910,323614,108270,430314
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166899,56,WY,99999,2,6070,3330,1710,890,3290,12050,...,0,0,4840,12982,5050,14606,860,1371,4950,12910
166900,56,WY,99999,3,3720,1550,1810,310,2280,8350,...,0,0,3450,20094,3500,21499,740,1823,2790,8215
166901,56,WY,99999,4,2590,660,1780,140,1700,6530,...,0,0,2540,22845,2560,24161,550,1703,1870,6702
166902,56,WY,99999,5,2960,470,2400,80,2140,7560,...,70,131,2930,52820,2940,55970,1090,6585,1560,7038
166903,56,WY,99999,6,1070,210,860,40,1010,2670,...,440,6478,1060,269935,1070,280678,470,25501,210,6769

In [30]:
zipToCounty_df = pd.read_csv("zipToCounty.csv")

In [31]:
zipToCounty_df

         ZIP         COUNTYNAME STATE  STCOUNTYFP CLASSFP
0      36003            Autauga    AL        1001      H1
1      36006            Autauga    AL        1001      H1
2      36067            Autauga    AL        1001      H1
3      36066            Autauga    AL        1001      H1
4      36703            Autauga    AL        1001      H1
...      ...                ...   ...         ...     ...
52884    850   St. Croix Island    VI       78010      H4
52885    840   St. Croix Island    VI       78010      H4
52886    820   St. Croix Island    VI       78010      H4
52887    830    St. John Island    VI       78020      H4
52888    802  St. Thomas Island    VI       78030      H4

[52889 rows x 5 columns]

In [32]:
cleaned_df = pd.read_csv("cleaned.csv")

In [33]:
cleaned_df

,Unnamed: 0,ZIP,NAIC,EST_SALES
0,0,6001,Retail trade,72699984.0
1,1,6001,Motor vehicle and parts dealers,3000000.0
2,2,6001,Automobile dealers,1500000.0
3,3,6001,New car dealers,3000000.0
4,4,6001,"Automotive parts, accessories, and tire stores",1500000.0
...,...,...,...,...
839044,839044,99403,Electronic shopping and mail-order houses,0.0
839045,839045,99403,Electronic shopping,0.0
839046,839046,99403,Direct selling establishments,2774998.0
839047,839047,99403,Fuel dealers,1499999.0
839048,839048,99403,Other direct selling establishments,4049997.0

In [34]:
#x = zipToCounty_df[zipToCounty_df["COUNTYNAME"] == "Autauga County"]
#x = zipToCounty_df["ZIP"]

#for index, row in zipToCounty_df.iterrows():
#        print(row["ZIP"])

In [35]:
zTc = zipToCounty_df.set_index('ZIP')['COUNTYNAME'].to_dict()

In [36]:
zTc

{36003: 'Autauga',
 36006: 'Chilton',
 36067: 'Elmore',
 36066: 'Elmore',
 36703: 'Dallas',
 36701: 'Perry',
 36091: 'Chilton',
 36051: 'Elmore',
 36068: 'Autauga',
 36008: 'Autauga',
 36022: 'Elmore',
 36749: 'Dallas',
 36758: 'Dallas',
 36550: 'Baldwin',
 36551: 'Baldwin',
 36527: 'Baldwin',
 36577: 'Baldwin',
 36559: 'Baldwin',
 36536: 'Baldwin',
 36576: 'Baldwin',
 36579: 'Baldwin',
 36502: 'Monroe',
 36578: 'Baldwin',
 36533: 'Baldwin',
 36564: 'Baldwin',
 36561: 'Baldwin',
 36580: 'Baldwin',
 36535: 'Baldwin',
 36547: 'Baldwin',
 36549: 'Baldwin',
 36530: 'Baldwin',
 36562: 'Escambia',
 36532: 'Baldwin',
 36526: 'Baldwin',
 36555: 'Baldwin',
 36511: 'Baldwin',
 36567: 'Baldwin',
 36574: 'Baldwin',
 36480: 'Monroe',
 36507: 'Baldwin',
 36542: 'Baldwin',
 36017: 'Barbour',
 36016: 'Barbour',
 36311: 'Dale',
 36374: 'Dale',
 36048: 'Barbour',
 36053: 'Bullock',
 36317: 'Henry',
 36027: 'Russell',
 36072: 'Barbour',
 35035: 'Shelby',
 35034: 'Bibb',
 36750: 'Chilton',
 35115: 'Shelby',
 35188: 'Tuscaloosa',
 36793: 'Chilton',
 35074: 'Bibb',
 35042: 'Perry',
 35111: 'Tuscaloosa',
 35184: 'Tuscaloosa',
 36792: 'Chilton',
 35456: 'Tuscaloosa',
 35031: 'Blount',
 35121: 'St. Clair',
 35063: 'Walker',
 35016: 'Morgan',
 35079: 'Jefferson',
 35097: 'Blount',
 35133: 'St. Clair',
 35957: 'Marshall',
 35126: 'Jefferson',
 35049: 'Blount',
 35172: 'Jefferson',
 35952: 'Marshall',
 35180: 'Jefferson',
 35146: 'St. Clair',
 35976: 'Marshall',
 35980: 'Marshall',
 35013: 'Blount',
 36830: 'Macon',
 36031: 'Bullock',
 36089: 'Macon',
 36029: 'Montgomery',
 36081: 'Pike',
 36860: 'Russell',
 36005: 'Pike',
 36052: 'Montgomery',
 36037: 'Crenshaw',
 36033: 'Monroe',
 36032: 'Lowndes',
 36456: 'Covington',
 36474: 'Covington',
 36030: 'Butler',
 36042: 'Crenshaw',
 36071: 'Crenshaw',
 36015: 'Butler',
 36206: 'Calhoun',
 36204: 'Calhoun',
 35096: 'Talladega',
 36279: 'Calhoun',
 36205: 'Calhoun',
 36260: 'Talladega',
 36271: 'Etowah',
 36272: 'Etowah',
 36201: 'Calhoun',
 36203: 'Talladega',
 36207: 'Cleburne',
 36265: 'Calhoun',
 36202: 'Calhoun',
 36257: 'Calhoun',
 36253: 'Calhoun',
 36254: 'Calhoun',
 35905: 'Etowah',
 36250: 'Calhoun',
 36277: 'Calhoun',
 36852: 'Lee',
 36855: 'Chambers',
 36879: 'Tallapoosa',
 36274: 'Randolph',
 36862: 'Chambers',
 36863: 'Chambers',
 36801: 'Lee',
 36854: 'Lee',
 36276: 'Tallapoosa',
 36850: 'Tallapoosa',
 35973: 'Cherokee',
 35959: 'DeKalb',
 35901: 'Etowah',
 35984: 'DeKalb',
 35967: 'DeKalb',
 35961: 'Etowah',
 35903: 'St. Clair',
 36275: 'Cherokee',
 35960: 'Cherokee',
 35983: 'DeKalb',
 35040: 'Shelby',
 36790: 'Chilton',
 35046: 'Coosa',
 35045: 'Chilton',
 35171: 'Chilton',
 35085: 'Chilton',
 36908: 'Choctaw',
 36913: 'Choctaw',
 36919: 'Choctaw',
 36921: 'Choctaw',
 36904: 'Marengo',
 36912: 'Sumter',
 36910: 'Choctaw',
 36916: 'Choctaw',
 36922: 'Sumter',
 36558: 'Washington',
 36915: 'Choctaw',
 36436: 'Clarke',
 36751: 'Wilcox',
 36446: 'Clarke',
 36524: 'Clarke',
 36784: 'Wilcox',
 36451: 'Clarke',
 36540: 'Clarke',
 36482: 'Monroe',
 36727: 'Clarke',
 36782: 'Marengo',
 36545: 'Clarke',
 36251: 'Tallapoosa',
 36267: 'Clay',
 35082: 'Talladega',
 35160: 'Talladega',
 35072: 'Tallapoosa',
 35089: 'Tallapoosa',
 36266: 'Randolph',
 36255: 'Tallapoosa',
 36256: 'Tallapoosa',
 36258: 'Randolph',
 36268: 'Talladega',
 36273: 'Cleburne',
 36269: 'Cleburne',
 36262: 'Cleburne',
 36261: 'Cleburne',
 36264: 'Randolph',
 36322: 'Geneva',
 36453: 'Geneva',
 36079: 'Pike',
 36351: 'Coffee',
 36477: 'Geneva',
 36346: 'Coffee',
 36010: 'Pike',
 36318: 'Geneva',
 36034: 'Pike',
 36316: 'Geneva',
 36009: 'Crenshaw',
 36330: 'Dale',
 36323: 'Crenshaw',
 36467: 'Crenshaw',
 36360: 'Dale',
 35616: 'Franklin',
 35654: 'Lawrence',
 35646: 'Colbert',
 35653: 'Franklin',
 35582: 'Franklin',
 35674: 'Franklin',
 35661: 'Colbert',
 35672: 'Lawrence',
 35660: 'Colbert',
 36471: 'Monroe',
 36426: 'Escambia',
 36454: 'Conecuh',
 36460: 'Monroe',
 36401: 'Monroe',
 36442: 'Geneva',
 36473: 'Conecuh',
 36475: 'Monroe',
 36432: 'Escambia',
 36421: 'Covington',
 35151: 'Talladega',
 35150: 'Talladega',
 36026: 'Elmore',
 36080: 'Elmore',
 35136: 'Elmore',
 35010: 'Tallapoosa',
 35183: 'Coosa',
 36420: 'Escambia',
 36483: 'Escambia',
 36455: 'Covington',
 36476: 'Covington',
 36038: 'Covington',
 36028: 'Crenshaw',
 36035: 'Pike',
 36049: 'Pike',
 36036: 'Montgomery',
 36041: 'Montgomery',
 36046: 'Montgomery',
 35057: 'Cullman',
 35087: 'Morgan',
 35033: 'Walker',
 35058: 'Cullman',
 35056: 'Cullman',
 35179: 'Winston',
 35622: 'Morgan',
 35053: 'Winston',
 35098: 'Winston',
 35619: 'Morgan',
 35541: 'Winston',
 35670: 'Morgan',
 35077: 'Cullman',
 35621: 'Morgan',
 35540: 'Winston',
 35083: 'Cullman',
 35070: 'Cullman',
 35019: 'Morgan',
 35055: 'Cullman',
 36303: 'Houston',
 36353: 'Henry',
 36345: 'Houston',
 36371: 'Dale',
 36350: 'Houston',
 36362: 'Dale',
 36361: 'Dale',
 36352: 'Houston',
 36761: 'Wilcox',
 36767: 'Dallas',
 36773: 'Perry',
 36785: 'Lowndes',
 36759: 'Perry',
 36775: 'Lowndes',
 35962: 'Marshall',
 35968: 'DeKalb',
 35765: 'Jackson',
 35986: 'DeKalb',
 35971: 'DeKalb',
 35956: 'Marshall',
 35989: 'DeKalb',
 35988: 'DeKalb',
 35771: 'Jackson',
 35978: 'Jackson',
 35966: 'Jackson',
 35963: 'DeKalb',
 35979: 'Jackson',
 35975: 'Marshall',
 35974: 'DeKalb',
 35951: 'Marshall',
 35981: 'DeKalb',
 35954: 'Etowah',
 36054: 'Montgomery',
 36024: 'Elmore',
 36025: 'Elmore',
 36020: 'Elmore',
 36093: 'Elmore',
 36078: 'Tallapoosa',
 36092: 'Elmore',
 36543: 'Escambia',
 36441: 'Escambia',
 36503: 'Escambia',
 35902: 'Etowah',
 35906: 'St. Clair',
 35972: 'St. Clair',
 35990: 'Etowah',
 35904: 'Etowah',
 35907: 'Etowah',
 35574: 'Tuscaloosa',
 35594: 'Marion',
 35545: 'Fayette',
 35546: 'Walker',
 35554: 'Walker',
 35555: 'Tuscaloosa',
 35579: 'Walker',
 35549: 'Walker',
 35563: 'Marion',
 35559: 'Fayette',
 35542: 'Fayette',
 35593: 'Marion',
 35585: 'Franklin',
 35571: 'Marion',
 35565: 'Winston',
 35581: 'Marion',
 35564: 'Marion',
 36344: 'Geneva',
 36313: 'Geneva',
 36375: 'Houston',
 36340: 'Geneva',
 36301: 'Houston',
 36314: 'Geneva',
 36305: 'Houston',
 36349: 'Geneva',
 35462: 'Greene',
 35491: 'Greene',
 35469: 'Tuscaloosa',
 35480: 'Tuscaloosa',
 35443: 'Greene',
 35464: 'Sumter',
 36740: 'Greene',
 35463: 'Tuscaloosa',
 35448: 'Greene',
 35441: 'Hale',
 36765: 'Perry',
 36738: 'Marengo',
 36744: 'Hale',
 36786: 'Perry',
 36756: 'Perry',
 35474: 'Tuscaloosa',
 36776: 'Hale',
 36742: 'Marengo',
 36319: 'Houston',
 36373: 'Henry',
 36310: 'Henry',
 36321: 'Houston',
 36343: 'Houston',
 36320: 'Houston',
 36312: 'Houston',
 36370: 'Houston',
 36302: 'Houston',
 36376: 'Houston',
 35772: 'Jackson',
 35744: 'Jackson',
 35769: 'Marshall',
 35748: 'Madison',
 35768: 'Jackson',
 35752: 'Jackson',
 35766: 'Jackson',
 35776: 'Marshall',
 35755: 'Marshall',
 35764: 'Jackson',
 35958: 'Jackson',
 35746: 'Jackson',
 35774: 'Jackson',
 35740: 'Jackson',
 35745: 'Jackson',
 35751: 'Jackson',
 35212: 'Jefferson',
 35215: 'Jefferson',
 35173: 'St. Clair',
 35205: 'Jefferson',
 35232: 'Jefferson',
 35218: 'Jefferson',
 35444: 'Tuscaloosa',
 35048: 'Jefferson',
 35254: 'Jefferson',
 35181: 'Jefferson',
 35294: 'Jefferson',
 35130: 'Walker',
 35208: 'Jefferson',
 35224: 'Jefferson',
 35202: 'Jefferson',
 35209: 'Jefferson',
 35235: 'Jefferson',
 35091: 'Jefferson',
 35061: 'Jefferson',
 35207: 'Jefferson',
 35211: 'Jefferson',
 35217: 'Jefferson',
 35219: 'Jefferson',
 35116: 'Jefferson',
 35062: 'Walker',
 35127: 'Jefferson',
 35210: 'Jefferson',
 35214: 'Jefferson',
 35222: 'Jefferson',
 35006: 'Walker',
 35023: 'Jefferson',
 35022: 'Shelby',
 35243: 'Shelby',
 35244: 'Shelby',
 35236: 'Jefferson',
 35270: 'Jefferson',
 35295: 'Jefferson',
 35119: 'Jefferson',
 35015: 'Jefferson',
 35139: 'Jefferson',
 35073: 'Jefferson',
 35117: 'Jefferson',
 35216: 'Shelby',
 35223: 'Jefferson',
 35020: 'Jefferson',
 35242: 'Shelby',
 35234: 'Jefferson',
 35231: 'Jefferson',
 35220: 'Jefferson',
 35229: 'Jefferson',
 35123: 'Jefferson',
 35060: 'Jefferson',
 35293: 'Jefferson',
 35206: 'Jefferson',
 35226: 'Jefferson',
 35213: 'Jefferson',
 35228: 'Jefferson',
 35255: 'Jefferson',
 35249: 'Jefferson',
 35064: 'Jefferson',
 35005: 'Jefferson',
 35021: 'Jefferson',
 35036: 'Jefferson',
 35285: 'Jefferson',
 35080: 'Shelby',
 35094: 'Shelby',
 35068: 'Jefferson',
 35071: 'Jefferson',
 35118: 'Jefferson',
 35204: 'Jefferson',
 35203: 'Jefferson',
 35221: 'Jefferson',
 35201: 'Jefferson',
 35233: 'Jefferson',
 35266: 'Jefferson',
 35259: 'Jefferson',
 35260: 'Jefferson',
 35253: 'Jefferson',
 35261: 'Jefferson',
 35148: 'Walker',
 35142: 'Jefferson',
 35586: 'Lamar',
 35544: 'Lamar',
 35552: 'Marion',
 35576: 'Pickens',
 35592: 'Lamar',
 35570: 'Marion',
 35677: 'Lauderdale',
 35614: 'Limestone',
 35617: 'Lauderdale',
 35633: 'Lauderdale',
 35648: 'Lauderdale',
 35630: 'Lauderdale',
 35634: 'Lauderdale',
 35652: 'Limestone',
 35631: 'Lauderdale',
 35645: 'Lauderdale',
 35610: 'Limestone',
 35632: 'Lauderdale',
 35650: 'Lawrence',
 35643: 'Lawrence',
 35651: 'Lawrence',
 35603: 'Morgan',
 35618: 'Lawrence',
 35673: 'Morgan',
 36865: 'Lee',
 36832: 'Macon',
 36804: 'Russell',
 36849: 'Tallapoosa',
 36867: 'Russell',
 36831: 'Lee',
 36877: 'Russell',
 36874: 'Russell',
 36866: 'Tallapoosa',
 36870: 'Russell',
 36803: 'Lee',
 35611: 'Limestone',
 35612: 'Limestone',
 35739: 'Madison',
 35749: 'Madison',
 35613: 'Limestone',
 35649: 'Limestone',
 35757: 'Madison',
 35671: 'Limestone',
 35620: 'Limestone',
 35742: 'Limestone',
 35773: 'Madison',
 35647: 'Limestone',
 35615: 'Limestone',
 35756: 'Madison',
 36047: 'Montgomery',
 36040: 'Lowndes',
 36752: 'Lowndes',
 36043: 'Montgomery',
 36013: 'Montgomery',
 36075: 'Macon',
 36083: 'Macon',
 36088: 'Macon',
 36039: 'Macon',
 36087: 'Macon',
 35806: 'Madison',
 35807: 'Madison',
 35897: 'Madison',
 35750: 'Madison',
 35814: 'Madison',
 35899: 'Madison',
 35893: 'Madison',
 35810: 'Madison',
 35805: 'Madison',
 35815: 'Madison',
 35767: 'Madison',
 35763: 'Madison',
 35758: 'Madison',
 35803: 'Madison',
 35808: 'Madison',
 35804: 'Madison',
 35760: 'Marshall',
 35762: 'Madison',
 35895: 'Madison',
 35898: 'Madison',
 35741: 'Madison',
 35759: 'Madison',
 35812: 'Madison',
 35802: 'Madison',
 35816: 'Madison',
 35813: 'Madison',
 35809: 'Madison',
 35896: 'Madison',
 35801: 'Madison',
 35761: 'Madison',
 35811: 'Madison',
 35824: 'Madison',
 35894: 'Madison',
 36745: 'Marengo',
 36728: 'Wilcox',
 36722: 'Wilcox',
 36763: 'Marengo',
 36732: 'Marengo',
 36748: 'Marengo',
 36754: 'Marengo',
 36736: 'Marengo',
 36783: 'Wilcox',
 36764: 'Marengo',
 36769: 'Wilcox',
 35548: 'Marion',
 35543: 'Marion',
 35754: 'Morgan',
 35747: 'Marshall',
 35964: 'Marshall',
 35175: 'Morgan',
 35950: 'Marshall',
 36688: 'Mobile',
 36505: 'Mobile',
 36618: 'Mobile',
 36608: 'Mobile',
 36611: 'Mobile',
 36602: 'Mobile',
 36590: 'Mobile',
 36670: 'Mobile',
 36560: 'Mobile',
 36521: 'Mobile',
 36575: 'Mobile',
 36544: 'Mobile',
 36619: 'Mobile',
 36652: 'Mobile',
 36685: 'Mobile',
 36528: 'Mobile',
 36522: 'Washington',
 36525: 'Mobile',
 36571: 'Mobile',
 36572: 'Mobile',
 36582: 'Mobile',
 36603: 'Mobile',
 36606: 'Mobile',
 36689: 'Mobile',
 36644: 'Mobile',
 36675: 'Mobile',
 36523: 'Mobile',
 36604: 'Mobile',
 36695: 'Mobile',
 36587: 'Mobile',
 36617: 'Mobile',
 36691: 'Mobile',
 36509: 'Mobile',
 36640: 'Mobile',
 36663: 'Mobile',
 36512: 'Mobile',
 36612: 'Mobile',
 36693: 'Mobile',
 36601: 'Mobile',
 36660: 'Mobile',
 36568: 'Mobile',
 36605: 'Mobile',
 36671: 'Mobile',
 36609: 'Mobile',
 36616: 'Mobile',
 36541: 'Mobile',
 36610: 'Mobile',
 36607: 'Mobile',
 36613: 'Mobile',
 36615: 'Mobile',
 36633: 'Mobile',
 36481: 'Monroe',
 36444: 'Monroe',
 36470: 'Monroe',
 36768: 'Wilcox',
 36445: 'Monroe',
 36425: 'Monroe',
 36726: 'Wilcox',
 36439: 'Monroe',
 36458: 'Monroe',
 36105: 'Montgomery',
 36117: 'Montgomery',
 36069: 'Montgomery',
 36124: 'Montgomery',
 36118: 'Montgomery',
 36065: 'Montgomery',
 36106: 'Montgomery',
 36064: 'Montgomery',
 36110: 'Montgomery',
 36119: 'Montgomery',
 36116: 'Montgomery',
 36130: 'Montgomery',
 36109: 'Montgomery',
 36113: 'Montgomery',
 36123: 'Montgomery',
 36111: 'Montgomery',
 36101: 'Montgomery',
 36102: 'Montgomery',
 36121: 'Montgomery',
 36104: 'Montgomery',
 36057: 'Montgomery',
 36107: 'Montgomery',
 36125: 'Montgomery',
 36120: 'Montgomery',
 36103: 'Montgomery',
 36114: 'Montgomery',
 36112: 'Montgomery',
 36108: 'Montgomery',
 36115: 'Montgomery',
 36131: 'Montgomery',
 35601: 'Morgan',
 35602: 'Morgan',
 35775: 'Morgan',
 35640: 'Morgan',
 35466: 'Tuscaloosa',
 35461: 'Pickens',
 35481: 'Pickens',
 35442: 'Sumter',
 35447: 'Pickens',
 35471: 'Pickens',
 36082: 'Pike',
 36280: 'Randolph',
 36278: 'Randolph',
 36263: 'Randolph',
 36871: 'Russell',
 36869: 'Russell',
 36875: 'Russell',
 36858: 'Russell',
 36856: 'Russell',
 36851: 'Russell',
 36868: 'Russell',
 35054: 'St. Clair',
 35135: 'St. Clair',
 35182: 'St. Clair',
 35178: 'Shelby',
 35120: 'St. Clair',
 35004: 'St. Clair',
 35131: 'St. Clair',
 35052: 'St. Clair',
 35987: 'St. Clair',
 35125: 'St. Clair',
 35112: 'St. Clair',
 35128: 'Shelby',
 35953: 'St. Clair',
 35124: 'Shelby',
 35051: 'Shelby',
 35078: 'Shelby',
 35143: 'Shelby',
 35187: 'Shelby',
 35043: 'Shelby',
 35114: 'Shelby',
 35007: 'Shelby',
 35238: 'Shelby',
 35147: 'Shelby',
 35137: 'Shelby',
 35185: 'Shelby',
 35186: 'Shelby',
 35176: 'Shelby',
 35459: 'Sumter',
 35460: 'Sumter',
 35477: 'Sumter',
 35470: 'Sumter',
 36907: 'Sumter',
 36901: 'Sumter',
 36925: 'Sumter',
 35044: 'Talladega',
 35014: 'Talladega',
 35149: 'Talladega',
 35032: 'Talladega',
 36861: 'Tallapoosa',
 36853: 'Tallapoosa',
 35457: 'Tuscaloosa',
 35468: 'Tuscaloosa',
 35453: 'Tuscaloosa',
 35486: 'Tuscaloosa',
 35449: 'Tuscaloosa',
 35405: 'Tuscaloosa',
 35402: 'Tuscaloosa',
 35403: 'Tuscaloosa',
 35478: 'Tuscaloosa',
 35452: 'Tuscaloosa',
 35490: 'Tuscaloosa',
 35440: 'Tuscaloosa',
 35401: 'Tuscaloosa',
 35475: 'Tuscaloosa',
 35482: 'Tuscaloosa',
 35404: 'Tuscaloosa',
 35473: 'Tuscaloosa',
 35476: 'Tuscaloosa',
 35446: 'Tuscaloosa',
 35458: 'Tuscaloosa',
 35406: 'Tuscaloosa',
 35407: 'Tuscaloosa',
 35587: 'Walker',
 35560: 'Walker',
 35550: 'Walker',
 35580: 'Walker',
 35502: 'Walker',
 35501: 'Walker',
 35503: 'Winston',
 35038: 'Walker',
 35584: 'Walker',
 35573: 'Walker',
 35504: 'Walker',
 35578: 'Winston',
 36529: 'Washington',
 36583: 'Washington',
 36548: 'Washington',
 36538: 'Washington',
 36513: 'Washington',
 36553: 'Washington',
 36581: 'Washington',
 36518: 'Washington',
 36584: 'Washington',
 36569: 'Washington',
 36585: 'Washington',
 36539: 'Washington',
 36556: 'Washington',
 36435: 'Wilcox',
 36720: 'Wilcox',
 36741: 'Wilcox',
 36766: 'Wilcox',
 36753: 'Wilcox',
 36723: 'Wilcox',
 35551: 'Winston',
 35553: 'Winston',
 35575: 'Winston',
 35577: 'Winston',
 35572: 'Winston',
 99553: 'Aleutians East Borough',
 99583: 'Aleutians East Borough',
 99612: 'Aleutians East Borough',
 99661: 'Aleutians East Borough',
 99571: 'Aleutians East Borough',
 99685: 'Aleutians West Census Area',
 99591: 'Aleutians West Census Area',
 99547: 'Aleutians West Census Area',
 99660: 'Aleutians West Census Area',
 99546: 'Aleutians West Census Area',
 99638: 'Aleutians West Census Area',
 99692: 'Aleutians West Census Area',
 99517: 'Anchorage Municipality',
 99523: 'Anchorage Municipality',
 99520: 'Anchorage Municipality',
 99529: 'Anchorage Municipality',
 99502: 'Anchorage Municipality',
 99516: 'Anchorage Municipality',
 99503: 'Anchorage Municipality',
 99577: 'Anchorage Municipality',
 99587: 'Anchorage Municipality',
 99508: 'Anchorage Municipality',
 99518: 'Anchorage Municipality',
 99567: 'Anchorage Municipality',
 99524: 'Anchorage Municipality',
 99521: 'Anchorage Municipality',
 99530: 'Anchorage Municipality',
 99599: 'Anchorage Municipality',
 99506: 'Anchorage Municipality',
 99540: 'Anchorage Municipality',
 99510: 'Anchorage Municipality',
 99501: 'Anchorage Municipality',
 99505: 'Anchorage Municipality',
 99509: 'Anchorage Municipality',
 99504: 'Anchorage Municipality',
 99519: 'Anchorage Municipality',
 99522: 'Anchorage Municipality',
 99515: 'Anchorage Municipality',
 99507: 'Anchorage Municipality',
 99514: 'Anchorage Municipality',
 99511: 'Anchorage Municipality',
 99513: 'Anchorage Municipality',
 99681: 'Bethel Census Area',
 99621: 'Bethel Census Area',
 99551: 'Bethel Census Area',
 99656: 'Bethel Census Area',
 99557: 'Bethel Census Area',
 99668: 'Bethel Census Area',
 99559: 'Bethel Census Area',
 99575: 'Bethel Census Area',
 99630: 'Bethel Census Area',
 99641: 'Bethel Census Area',
 99614: 'Bethel Census Area',
 99626: 'Bethel Census Area',
 99561: 'Bethel Census Area',
 99637: 'Bethel Census Area',
 99679: 'Bethel Census Area',
 99651: 'Bethel Census Area',
 99609: 'Bethel Census Area',
 99690: 'Bethel Census Area',
 99545: 'Bethel Census Area',
 99607: 'Bethel Census Area',
 99680: 'Bethel Census Area',
 99578: 'Bethel Census Area',
 99634: 'Bethel Census Area',
 99655: 'Bethel Census Area',
 99589: 'Bethel Census Area',
 99622: 'Bethel Census Area',
 99552: 'Bethel Census Area',
 99613: 'Bristol Bay Borough',
 99633: 'Bristol Bay Borough',
 99670: 'Bristol Bay Borough',
 99729: 'Denali Borough',
 99744: 'Denali Borough',
 99743: 'Denali Borough',
 99755: 'Denali Borough',
 99628: 'Dillingham Census Area',
 99576: 'Dillingham Census Area',
 99580: 'Dillingham Census Area',
 99569: 'Dillingham Census Area',
 99636: 'Dillingham Census Area',
 99678: 'Dillingham Census Area',
 99555: 'Dillingham Census Area',
 99707: 'Fairbanks North Star Borough',
 99709: 'Fairbanks North Star Borough',
 99712: 'Fairbanks North Star Borough',
 99714: 'Fairbanks North Star Borough',
 99701: 'Fairbanks North Star Borough',
 99775: 'Fairbanks North Star Borough',
 99790: 'Fairbanks North Star Borough',
 99706: 'Fairbanks North Star Borough',
 99703: 'Fairbanks North Star Borough',
 99705: 'Fairbanks North Star Borough',
 99708: 'Fairbanks North Star Borough',
 99725: 'Fairbanks North Star Borough',
 99702: 'Fairbanks North Star Borough',
 99827: 'Haines Borough',
 99820: 'Hoonah-Angoon Census Area',
 99841: 'Hoonah-Angoon Census Area',
 99829: 'Hoonah-Angoon Census Area',
 99825: 'Hoonah-Angoon Census Area',
 99832: 'Hoonah-Angoon Census Area',
 99826: 'Hoonah-Angoon Census Area',
 99811: 'Juneau City and Borough',
 99801: 'Juneau City and Borough',
 99824: 'Juneau City and Borough',
 99611: 'Kenai Peninsula Borough',
 99556: 'Kenai Peninsula Borough',
 99631: 'Kenai Peninsula Borough',
 99663: 'Kenai Peninsula Borough',
 99568: 'Kenai Peninsula Borough',
 99639: 'Kenai Peninsula Borough',
 99664: 'Kenai Peninsula Borough',
 99682: 'Kenai Peninsula Borough',
 99572: 'Kenai Peninsula Borough',
 99610: 'Kenai Peninsula Borough',
 99605: 'Kenai Peninsula Borough',
 99635: 'Kenai Peninsula Borough',
 99672: 'Kenai Peninsula Borough',
 99669: 'Kenai Peninsula Borough',
 99603: 'Kenai Peninsula Borough',
 99928: 'Ketchikan Gateway Borough',
 99901: 'Ketchikan Gateway Borough',
 99644: 'Kodiak Island Borough',
 99643: 'Kodiak Island Borough',
 99608: 'Kodiak Island Borough',
 99624: 'Kodiak Island Borough',
 99550: 'Kodiak Island Borough',
 99615: 'Kodiak Island Borough',
 99579: 'Lake and Peninsula Borough',
 99565: 'Lake and Peninsula Borough',
 99625: 'Lake and Peninsula Borough',
 99564: 'Lake and Peninsula Borough',
 99549: 'Lake and Peninsula Borough',
 99653: 'Lake and Peninsula Borough',
 99640: 'Lake and Peninsula Borough',
 99649: 'Lake and Peninsula Borough',
 99548: 'Lake and Peninsula Borough',
 99606: 'Lake and Peninsula Borough',
 99647: 'Lake and Peninsula Borough',
 99648: 'Lake and Peninsula Borough',
 99674: 'Matanuska-Susitna Borough',
 99676: 'Matanuska-Susitna Borough',
 99645: 'Matanuska-Susitna Borough',
 99623: 'Matanuska-Susitna Borough',
 99654: 'Matanuska-Susitna Borough',
 99694: 'Matanuska-Susitna Borough',
 99687: 'Matanuska-Susitna Borough',
 99652: 'Matanuska-Susitna Borough',
 99683: 'Matanuska-Susitna Borough',

In [37]:
cleaned_df['County'] = cleaned_df.ZIP.replace(zTc)

In [38]:
zTf = zipToCounty_df.set_index('ZIP')['STCOUNTYFP'].to_dict()

In [39]:
zTf

{36003: 1001,
 36006: 1021,
 36067: 1051,
 36066: 1051,
 36703: 1047,
 36701: 1105,
 36091: 1021,
 36051: 1051,
 36068: 1001,
 36008: 1001,
 36022: 1051,
 36749: 1047,
 36758: 1047,
 36550: 1003,
 36551: 1003,
 36527: 1003,
 36577: 1003,
 36559: 1003,
 36536: 1003,
 36576: 1003,
 36579: 1003,
 36502: 1099,
 36578: 1003,
 36533: 1003,
 36564: 1003,
 36561: 1003,
 36580: 1003,
 36535: 1003,
 36547: 1003,
 36549: 1003,
 36530: 1003,
 36562: 1053,
 36532: 1003,
 36526: 1003,
 36555: 1003,
 36511: 1003,
 36567: 1003,
 36574: 1003,
 36480: 1099,
 36507: 1003,
 36542: 1003,
 36017: 1005,
 36016: 1005,
 36311: 1045,
 36374: 1045,
 36048: 1005,
 36053: 1011,
 36317: 1067,
 36027: 1113,
 36072: 1005,
 35035: 1117,
 35034: 1007,
 36750: 1021,
 35115: 1117,
 35188: 1125,
 36793: 1021,
 35074: 1007,
 35042: 1105,
 35111: 1125,
 35184: 1125,
 36792: 1021,
 35456: 1125,
 35031: 1009,
 35121: 1115,
 35063: 1127,
 35016: 1103,
 35079: 1073,
 35097: 1009,
 35133: 1115,
 35957: 1095,
 35126: 1073,
 35049: 1009,
 35172: 1073,
 35952: 1095,
 35180: 1073,
 35146: 1115,
 35976: 1095,
 35980: 1095,
 35013: 1009,
 36830: 1087,
 36031: 1011,
 36089: 1087,
 36029: 1101,
 36081: 1109,
 36860: 1113,
 36005: 1109,
 36052: 1101,
 36037: 1041,
 36033: 1099,
 36032: 1085,
 36456: 1039,
 36474: 1039,
 36030: 1013,
 36042: 1041,
 36071: 1041,
 36015: 1013,
 36206: 1015,
 36204: 1015,
 35096: 1121,
 36279: 1015,
 36205: 1015,
 36260: 1121,
 36271: 1055,
 36272: 1055,
 36201: 1015,
 36203: 1121,
 36207: 1029,
 36265: 1015,
 36202: 1015,
 36257: 1015,
 36253: 1015,
 36254: 1015,
 35905: 1055,
 36250: 1015,
 36277: 1015,
 36852: 1081,
 36855: 1017,
 36879: 1123,
 36274: 1111,
 36862: 1017,
 36863: 1017,
 36801: 1081,
 36854: 1081,
 36276: 1123,
 36850: 1123,
 35973: 1019,
 35959: 1049,
 35901: 1055,
 35984: 1049,
 35967: 1049,
 35961: 1055,
 35903: 1115,
 36275: 1019,
 35960: 1019,
 35983: 1049,
 35040: 1117,
 36790: 1021,
 35046: 1037,
 35045: 1021,
 35171: 1021,
 35085: 1021,
 36908: 1023,
 36913: 1023,
 36919: 1023,
 36921: 1023,
 36904: 1091,
 36912: 1119,
 36910: 1023,
 36916: 1023,
 36922: 1119,
 36558: 1129,
 36915: 1023,
 36436: 1025,
 36751: 1131,
 36446: 1025,
 36524: 1025,
 36784: 1131,
 36451: 1025,
 36540: 1025,
 36482: 1099,
 36727: 1025,
 36782: 1091,
 36545: 1025,
 36251: 1123,
 36267: 1027,
 35082: 1121,
 35160: 1121,
 35072: 1123,
 35089: 1123,
 36266: 1111,
 36255: 1123,
 36256: 1123,
 36258: 1111,
 36268: 1121,
 36273: 1029,
 36269: 1029,
 36262: 1029,
 36261: 1029,
 36264: 1111,
 36322: 1061,
 36453: 1061,
 36079: 1109,
 36351: 1031,
 36477: 1061,
 36346: 1031,
 36010: 1109,
 36318: 1061,
 36034: 1109,
 36316: 1061,
 36009: 1041,
 36330: 1045,
 36323: 1041,
 36467: 1041,
 36360: 1045,
 35616: 1059,
 35654: 1079,
 35646: 1033,
 35653: 1059,
 35582: 1059,
 35674: 1059,
 35661: 1033,
 35672: 1079,
 35660: 1033,
 36471: 1099,
 36426: 1053,
 36454: 1035,
 36460: 1099,
 36401: 1099,
 36442: 1061,
 36473: 1035,
 36475: 1099,
 36432: 1053,
 36421: 1039,
 35151: 1121,
 35150: 1121,
 36026: 1051,
 36080: 1051,
 35136: 1051,
 35010: 1123,
 35183: 1037,
 36420: 1053,
 36483: 1053,
 36455: 1039,
 36476: 1039,
 36038: 1039,
 36028: 1041,
 36035: 1109,
 36049: 1109,
 36036: 1101,
 36041: 1101,
 36046: 1101,
 35057: 1043,
 35087: 1103,
 35033: 1127,
 35058: 1043,
 35056: 1043,
 35179: 1133,
 35622: 1103,
 35053: 1133,
 35098: 1133,
 35619: 1103,
 35541: 1133,
 35670: 1103,
 35077: 1043,
 35621: 1103,
 35540: 1133,
 35083: 1043,
 35070: 1043,
 35019: 1103,
 35055: 1043,
 36303: 1069,
 36353: 1067,
 36345: 1069,
 36371: 1045,
 36350: 1069,
 36362: 1045,
 36361: 1045,
 36352: 1069,
 36761: 1131,
 36767: 1047,
 36773: 1105,
 36785: 1085,
 36759: 1105,
 36775: 1085,
 35962: 1095,
 35968: 1049,
 35765: 1071,
 35986: 1049,
 35971: 1049,
 35956: 1095,
 35989: 1049,
 35988: 1049,
 35771: 1071,
 35978: 1071,
 35966: 1071,
 35963: 1049,
 35979: 1071,
 35975: 1095,
 35974: 1049,
 35951: 1095,
 35981: 1049,
 35954: 1055,
 36054: 1101,
 36024: 1051,
 36025: 1051,
 36020: 1051,
 36093: 1051,
 36078: 1123,
 36092: 1051,
 36543: 1053,
 36441: 1053,
 36503: 1053,
 35902: 1055,
 35906: 1115,
 35972: 1115,
 35990: 1055,
 35904: 1055,
 35907: 1055,
 35574: 1125,
 35594: 1093,
 35545: 1057,
 35546: 1127,
 35554: 1127,
 35555: 1125,
 35579: 1127,
 35549: 1127,
 35563: 1093,
 35559: 1057,
 35542: 1057,
 35593: 1093,
 35585: 1059,
 35571: 1093,
 35565: 1133,
 35581: 1093,
 35564: 1093,
 36344: 1061,
 36313: 1061,
 36375: 1069,
 36340: 1061,
 36301: 1069,
 36314: 1061,
 36305: 1069,
 36349: 1061,
 35462: 1063,
 35491: 1063,
 35469: 1125,
 35480: 1125,
 35443: 1063,
 35464: 1119,
 36740: 1063,
 35463: 1125,
 35448: 1063,
 35441: 1065,
 36765: 1105,
 36738: 1091,
 36744: 1065,
 36786: 1105,
 36756: 1105,
 35474: 1125,
 36776: 1065,
 36742: 1091,
 36319: 1069,
 36373: 1067,
 36310: 1067,
 36321: 1069,
 36343: 1069,
 36320: 1069,
 36312: 1069,
 36370: 1069,
 36302: 1069,
 36376: 1069,
 35772: 1071,
 35744: 1071,
 35769: 1095,
 35748: 1089,
 35768: 1071,
 35752: 1071,
 35766: 1071,
 35776: 1095,
 35755: 1095,
 35764: 1071,
 35958: 1071,
 35746: 1071,
 35774: 1071,
 35740: 1071,
 35745: 1071,
 35751: 1071,
 35212: 1073,
 35215: 1073,
 35173: 1115,
 35205: 1073,
 35232: 1073,
 35218: 1073,
 35444: 1125,
 35048: 1073,
 35254: 1073,
 35181: 1073,
 35294: 1073,
 35130: 1127,
 35208: 1073,
 35224: 1073,
 35202: 1073,
 35209: 1073,
 35235: 1073,
 35091: 1073,
 35061: 1073,
 35207: 1073,
 35211: 1073,
 35217: 1073,
 35219: 1073,
 35116: 1073,
 35062: 1127,
 35127: 1073,
 35210: 1073,
 35214: 1073,
 35222: 1073,
 35006: 1127,
 35023: 1073,
 35022: 1117,
 35243: 1117,
 35244: 1117,
 35236: 1073,
 35270: 1073,
 35295: 1073,
 35119: 1073,
 35015: 1073,
 35139: 1073,
 35073: 1073,
 35117: 1073,
 35216: 1117,
 35223: 1073,
 35020: 1073,
 35242: 1117,
 35234: 1073,
 35231: 1073,
 35220: 1073,
 35229: 1073,
 35123: 1073,
 35060: 1073,
 35293: 1073,
 35206: 1073,
 35226: 1073,
 35213: 1073,
 35228: 1073,
 35255: 1073,
 35249: 1073,
 35064: 1073,
 35005: 1073,
 35021: 1073,
 35036: 1073,
 35285: 1073,
 35080: 1117,
 35094: 1117,
 35068: 1073,
 35071: 1073,
 35118: 1073,
 35204: 1073,
 35203: 1073,
 35221: 1073,
 35201: 1073,
 35233: 1073,
 35266: 1073,
 35259: 1073,
 35260: 1073,
 35253: 1073,
 35261: 1073,
 35148: 1127,
 35142: 1073,
 35586: 1075,
 35544: 1075,
 35552: 1093,
 35576: 1107,
 35592: 1075,
 35570: 1093,
 35677: 1077,
 35614: 1083,
 35617: 1077,
 35633: 1077,
 35648: 1077,
 35630: 1077,
 35634: 1077,
 35652: 1083,
 35631: 1077,
 35645: 1077,
 35610: 1083,
 35632: 1077,
 35650: 1079,
 35643: 1079,
 35651: 1079,
 35603: 1103,
 35618: 1079,
 35673: 1103,
 36865: 1081,
 36832: 1087,
 36804: 1113,
 36849: 1123,
 36867: 1113,
 36831: 1081,
 36877: 1113,
 36874: 1113,
 36866: 1123,
 36870: 1113,
 36803: 1081,
 35611: 1083,
 35612: 1083,
 35739: 1089,
 35749: 1089,
 35613: 1083,
 35649: 1083,
 35757: 1089,
 35671: 1083,
 35620: 1083,
 35742: 1083,
 35773: 1089,
 35647: 1083,
 35615: 1083,
 35756: 1089,
 36047: 1101,
 36040: 1085,
 36752: 1085,
 36043: 1101,
 36013: 1101,
 36075: 1087,
 36083: 1087,
 36088: 1087,
 36039: 1087,
 36087: 1087,
 35806: 1089,
 35807: 1089,
 35897: 1089,
 35750: 1089,
 35814: 1089,
 35899: 1089,
 35893: 1089,
 35810: 1089,
 35805: 1089,
 35815: 1089,
 35767: 1089,
 35763: 1089,
 35758: 1089,
 35803: 1089,
 35808: 1089,
 35804: 1089,
 35760: 1095,
 35762: 1089,
 35895: 1089,
 35898: 1089,
 35741: 1089,
 35759: 1089,
 35812: 1089,
 35802: 1089,
 35816: 1089,
 35813: 1089,
 35809: 1089,
 35896: 1089,
 35801: 1089,
 35761: 1089,
 35811: 1089,
 35824: 1089,
 35894: 1089,
 36745: 1091,
 36728: 1131,
 36722: 1131,
 36763: 1091,
 36732: 1091,
 36748: 1091,
 36754: 1091,
 36736: 1091,
 36783: 1131,
 36764: 1091,
 36769: 1131,
 35548: 1093,
 35543: 1093,
 35754: 1103,
 35747: 1095,
 35964: 1095,
 35175: 1103,
 35950: 1095,
 36688: 1097,
 36505: 1097,
 36618: 1097,
 36608: 1097,
 36611: 1097,
 36602: 1097,
 36590: 1097,
 36670: 1097,
 36560: 1097,
 36521: 1097,
 36575: 1097,
 36544: 1097,
 36619: 1097,
 36652: 1097,
 36685: 1097,
 36528: 1097,
 36522: 1129,
 36525: 1097,
 36571: 1097,
 36572: 1097,
 36582: 1097,
 36603: 1097,
 36606: 1097,
 36689: 1097,
 36644: 1097,
 36675: 1097,
 36523: 1097,
 36604: 1097,
 36695: 1097,
 36587: 1097,
 36617: 1097,
 36691: 1097,
 36509: 1097,
 36640: 1097,
 36663: 1097,
 36512: 1097,
 36612: 1097,
 36693: 1097,
 36601: 1097,
 36660: 1097,
 36568: 1097,
 36605: 1097,
 36671: 1097,
 36609: 1097,
 36616: 1097,
 36541: 1097,
 36610: 1097,
 36607: 1097,
 36613: 1097,
 36615: 1097,
 36633: 1097,
 36481: 1099,
 36444: 1099,
 36470: 1099,
 36768: 1131,
 36445: 1099,
 36425: 1099,
 36726: 1131,
 36439: 1099,
 36458: 1099,
 36105: 1101,
 36117: 1101,
 36069: 1101,
 36124: 1101,
 36118: 1101,
 36065: 1101,
 36106: 1101,
 36064: 1101,
 36110: 1101,
 36119: 1101,
 36116: 1101,
 36130: 1101,
 36109: 1101,
 36113: 1101,
 36123: 1101,
 36111: 1101,
 36101: 1101,
 36102: 1101,
 36121: 1101,
 36104: 1101,
 36057: 1101,
 36107: 1101,
 36125: 1101,
 36120: 1101,
 36103: 1101,
 36114: 1101,
 36112: 1101,
 36108: 1101,
 36115: 1101,
 36131: 1101,
 35601: 1103,
 35602: 1103,
 35775: 1103,
 35640: 1103,
 35466: 1125,
 35461: 1107,
 35481: 1107,
 35442: 1119,
 35447: 1107,
 35471: 1107,
 36082: 1109,
 36280: 1111,
 36278: 1111,
 36263: 1111,
 36871: 1113,
 36869: 1113,
 36875: 1113,
 36858: 1113,
 36856: 1113,
 36851: 1113,
 36868: 1113,
 35054: 1115,
 35135: 1115,
 35182: 1115,
 35178: 1117,
 35120: 1115,
 35004: 1115,
 35131: 1115,
 35052: 1115,
 35987: 1115,
 35125: 1115,
 35112: 1115,
 35128: 1117,
 35953: 1115,
 35124: 1117,
 35051: 1117,
 35078: 1117,
 35143: 1117,
 35187: 1117,
 35043: 1117,
 35114: 1117,
 35007: 1117,
 35238: 1117,
 35147: 1117,
 35137: 1117,
 35185: 1117,
 35186: 1117,
 35176: 1117,
 35459: 1119,
 35460: 1119,
 35477: 1119,
 35470: 1119,
 36907: 1119,
 36901: 1119,
 36925: 1119,
 35044: 1121,
 35014: 1121,
 35149: 1121,
 35032: 1121,
 36861: 1123,
 36853: 1123,
 35457: 1125,
 35468: 1125,
 35453: 1125,
 35486: 1125,
 35449: 1125,
 35405: 1125,
 35402: 1125,
 35403: 1125,
 35478: 1125,
 35452: 1125,
 35490: 1125,
 35440: 1125,
 35401: 1125,
 35475: 1125,
 35482: 1125,
 35404: 1125,
 35473: 1125,
 35476: 1125,
 35446: 1125,
 35458: 1125,
 35406: 1125,
 35407: 1125,
 35587: 1127,
 35560: 1127,
 35550: 1127,
 35580: 1127,
 35502: 1127,
 35501: 1127,
 35503: 1133,
 35038: 1127,
 35584: 1127,
 35573: 1127,
 35504: 1127,
 35578: 1133,
 36529: 1129,
 36583: 1129,
 36548: 1129,
 36538: 1129,
 36513: 1129,
 36553: 1129,
 36581: 1129,
 36518: 1129,
 36584: 1129,
 36569: 1129,
 36585: 1129,
 36539: 1129,
 36556: 1129,
 36435: 1131,
 36720: 1131,
 36741: 1131,
 36766: 1131,
 36753: 1131,
 36723: 1131,
 35551: 1133,
 35553: 1133,
 35575: 1133,
 35577: 1133,
 35572: 1133,
 99553: 2013,
 99583: 2013,
 99612: 2013,
 99661: 2013,
 99571: 2013,
 99685: 2016,
 99591: 2016,
 99547: 2016,
 99660: 2016,
 99546: 2016,
 99638: 2016,
 99692: 2016,
 99517: 2020,
 99523: 2020,
 99520: 2020,
 99529: 2020,
 99502: 2020,
 99516: 2020,
 99503: 2020,
 99577: 2020,
 99587: 2020,
 99508: 2020,
 99518: 2020,
 99567: 2020,
 99524: 2020,
 99521: 2020,
 99530: 2020,
 99599: 2020,
 99506: 2020,
 99540: 2020,
 99510: 2020,
 99501: 2020,
 99505: 2020,
 99509: 2020,
 99504: 2020,
 99519: 2020,
 99522: 2020,
 99515: 2020,
 99507: 2020,
 99514: 2020,
 99511: 2020,
 99513: 2020,
 99681: 2050,
 99621: 2050,
 99551: 2050,
 99656: 2050,
 99557: 2050,
 99668: 2050,
 99559: 2050,
 99575: 2050,
 99630: 2050,
 99641: 2050,
 99614: 2050,
 99626: 2050,
 99561: 2050,
 99637: 2050,
 99679: 2050,
 99651: 2050,
 99609: 2050,
 99690: 2050,
 99545: 2050,
 99607: 2050,
 99680: 2050,
 99578: 2050,
 99634: 2050,
 99655: 2050,
 99589: 2050,
 99622: 2050,
 99552: 2050,
 99613: 2060,
 99633: 2060,
 99670: 2060,
 99729: 2068,
 99744: 2068,
 99743: 2068,
 99755: 2068,
 99628: 2070,
 99576: 2070,
 99580: 2070,
 99569: 2070,
 99636: 2070,
 99678: 2070,
 99555: 2070,
 99707: 2090,
 99709: 2090,
 99712: 2090,
 99714: 2090,
 99701: 2090,
 99775: 2090,
 99790: 2090,
 99706: 2090,
 99703: 2090,
 99705: 2090,
 99708: 2090,
 99725: 2090,
 99702: 2090,
 99827: 2100,
 99820: 2105,
 99841: 2105,
 99829: 2105,
 99825: 2105,
 99832: 2105,
 99826: 2105,
 99811: 2110,
 99801: 2110,
 99824: 2110,
 99611: 2122,
 99556: 2122,
 99631: 2122,
 99663: 2122,
 99568: 2122,
 99639: 2122,
 99664: 2122,
 99682: 2122,
 99572: 2122,
 99610: 2122,
 99605: 2122,
 99635: 2122,
 99672: 2122,
 99669: 2122,
 99603: 2122,
 99928: 2130,
 99901: 2130,
 99644: 2150,
 99643: 2150,
 99608: 2150,
 99624: 2150,
 99550: 2150,
 99615: 2150,
 99579: 2164,
 99565: 2164,
 99625: 2164,
 99564: 2164,
 99549: 2164,
 99653: 2164,
 99640: 2164,
 99649: 2164,
 99548: 2164,
 99606: 2164,
 99647: 2164,
 99648: 2164,
 99674: 2170,
 99676: 2170,
 99645: 2170,
 99623: 2170,
 99654: 2170,
 99694: 2170,
 99687: 2170,
 99652: 2170,
 99683: 2170,
 99688: 2170,
 99667: 2170,
 99784: 2180,
 99739: 2180,
 99785: 2180,
 99771: 2180,
 99783: 2180,
 99684: 2180,
 99778: 2180,
 99762: 2180,
 99742: 2180,
 99671: 2180,
 99753: 2180,
 99659: 2180,
 99769: 2180,
 99772: 2180,
 99734: 2185,
 99791: 2185,
 99747: 2185,
 99723: 2185,
 99759: 2185,
 99766: 2185,
 99782: 2185,
 99721: 2185,
 99789: 2185,
 99761: 2188,
 99763: 2188,
 99750: 2188,
 99727: 2188,
 99752: 2188,
 99751: 2188,
 99736: 2188,
 99773: 2188,
 99770: 2188,
 99749: 2188,
 99786: 2188,
 99833: 2195,
 99830: 2195,
 99836: 2195,
 99927: 2198,
 99926: 2198,
 99919: 2198,
 99918: 2198,
 99921: 2198,
 99925: 2198,
 99922: 2198,
 99923: 2198,
 99835: 2220,
 99840: 2230,
 99764: 2240,
 99738: 2240,
 99776: 2240,
 99731: 2240,
 99780: 2240,
 99732: 2240,
 99737: 2240,
 99588: 2261,
 99586: 2261,
 99677: 2261,
 99574: 2261,
 99566: 2261,
 99573: 2261,
 99686: 2261,
 99693: 2261,
 99620: 2270,
 99658: 2270,
 99650: 2270,
 99585: 2270,
 99666: 2270,
 99581: 2270,
 99604: 2270,
 99632: 2270,
 99662: 2270,
 99657: 2270,
 99554: 2270,
 99563: 2270,
 99903: 2275,
 99929: 2275,
 99689: 2282,
 99757: 2290,
 99758: 2290,
 99733: 2290,
 99740: 2290,
 ...}

In [40]:
cleaned_df['FIPS'] = cleaned_df.ZIP.replace(zTf)

In [41]:
cleaned_df

,Unnamed: 0,ZIP,NAIC,EST_SALES,County,FIPS
0,0,6001,Retail trade,72699984.0,Hartford,9003
1,1,6001,Motor vehicle and parts dealers,3000000.0,Hartford,9003
2,2,6001,Automobile dealers,1500000.0,Hartford,9003
3,3,6001,New car dealers,3000000.0,Hartford,9003
4,4,6001,"Automotive parts, accessories, and tire stores",1500000.0,Hartford,9003
...,...,...,...,...,...,...
839044,839044,99403,Electronic shopping and mail-order houses,0.0,Whitman,53075
839045,839045,99403,Electronic shopping,0.0,Whitman,53075
839046,839046,99403,Direct selling establishments,2774998.0,Whitman,53075
839047,839047,99403,Fuel dealers,1499999.0,Whitman,53075
839048,839048,99403,Other direct selling establishments,4049997.0,Whitman,53075

In [53]:
#cleaned_df.to_csv('newcleaned.csv')

In [43]:
election_df = pd.read_csv('2012ElectionData.csv')

In [44]:
election_df

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,PercentageWon,PartyWon
0,2012,Alabama,AL,Autauga,1001.0,President,Barack Obama,democrat,6363.0,23932,0.265878322,Republican
1,2012,Alabama,AL,Autauga,1001.0,President,Mitt Romney,republican,17379.0,23932,0.726182517,Republican
2,2012,Alabama,AL,Autauga,1001.0,President,Other,NaN,190.0,23932,0.007939161,Republican
3,2012,Alabama,AL,Baldwin,1003.0,President,Barack Obama,democrat,18424.0,85338,0.215894443,Republican
4,2012,Alabama,AL,Baldwin,1003.0,President,Mitt Romney,republican,66016.0,85338,0.773582695,Republican
...,...,...,...,...,...,...,...,...,...,...,...,...
9469,2012,Alaska,AK,District 40,2040.0,President,Mitt Romney,republican,1347.0,4235,0.318063754,Democrat
9470,2012,Alaska,AK,District 40,2040.0,President,Other,NaN,171.0,4235,0.040377804,Democrat
9471,2012,Alaska,NaN,District 99,2099.0,President,Barack Obama,democrat,NaN,74045,#VALUE!,#VALUE!
9472,2012,Alaska,NaN,District 99,2099.0,President,Mitt Romney,republican,NaN,74045,#VALUE!,#VALUE!
9473,2012,Alaska,NaN,District 99,2099.0,President,Other,NaN,NaN,74045,#VALUE!,#VALUE!

In [45]:
fipsToParty = election_df.set_index('FIPS')['PartyWon'].to_dict()

In [46]:
cleaned_df['politicalParty'] = cleaned_df.FIPS.replace(fipsToParty)

In [47]:
cleaned_df

,Unnamed: 0,ZIP,NAIC,EST_SALES,County,FIPS,politicalParty
0,0,6001,Retail trade,72699984.0,Hartford,9003,Democrat
1,1,6001,Motor vehicle and parts dealers,3000000.0,Hartford,9003,Democrat
2,2,6001,Automobile dealers,1500000.0,Hartford,9003,Democrat
3,3,6001,New car dealers,3000000.0,Hartford,9003,Democrat
4,4,6001,"Automotive parts, accessories, and tire stores",1500000.0,Hartford,9003,Democrat
...,...,...,...,...,...,...,...
839044,839044,99403,Electronic shopping and mail-order houses,0.0,Whitman,53075,Republican
839045,839045,99403,Electronic shopping,0.0,Whitman,53075,Republican
839046,839046,99403,Direct selling establishments,2774998.0,Whitman,53075,Republican
839047,839047,99403,Fuel dealers,1499999.0,Whitman,53075,Republican
839048,839048,99403,Other direct selling establishments,4049997.0,Whitman,53075,Republican

In [48]:
zipToAgi = tax_df.set_index('zipcode')['A00100'].to_dict()

In [49]:
cleaned_df['AGI'] = cleaned_df.ZIP.replace(zipToAgi)

In [50]:
cleaned_df

,Unnamed: 0,ZIP,NAIC,EST_SALES,County,FIPS,politicalParty,AGI
0,0,6001,Retail trade,72699984.0,Hartford,9003,Democrat,1122137
1,1,6001,Motor vehicle and parts dealers,3000000.0,Hartford,9003,Democrat,1122137
2,2,6001,Automobile dealers,1500000.0,Hartford,9003,Democrat,1122137
3,3,6001,New car dealers,3000000.0,Hartford,9003,Democrat,1122137
4,4,6001,"Automotive parts, accessories, and tire stores",1500000.0,Hartford,9003,Democrat,1122137
...,...,...,...,...,...,...,...,...
839044,839044,99403,Electronic shopping and mail-order houses,0.0,Whitman,53075,Republican,70167
839045,839045,99403,Electronic shopping,0.0,Whitman,53075,Republican,70167
839046,839046,99403,Direct selling establishments,2774998.0,Whitman,53075,Republican,70167
839047,839047,99403,Fuel dealers,1499999.0,Whitman,53075,Republican,70167
839048,839048,99403,Other direct selling establishments,4049997.0,Whitman,53075,Republican,70167

In [ ]:
zipPop_df = df.read_csv('FRED_countyPop.csv')

In [52]:
cleaned_df

,Unnamed: 0,ZIP,NAIC,EST_SALES,County,FIPS,politicalParty,AGI
0,0,6001,Retail trade,72699984.0,Hartford,9003,Democrat,1122137
1,1,6001,Motor vehicle and parts dealers,3000000.0,Hartford,9003,Democrat,1122137
2,2,6001,Automobile dealers,1500000.0,Hartford,9003,Democrat,1122137
3,3,6001,New car dealers,3000000.0,Hartford,9003,Democrat,1122137
4,4,6001,"Automotive parts, accessories, and tire stores",1500000.0,Hartford,9003,Democrat,1122137
...,...,...,...,...,...,...,...,...
839044,839044,99403,Electronic shopping and mail-order houses,0.0,Whitman,53075,Republican,70167
839045,839045,99403,Electronic shopping,0.0,Whitman,53075,Republican,70167
839046,839046,99403,Direct selling establishments,2774998.0,Whitman,53075,Republican,70167
839047,839047,99403,Fuel dealers,1499999.0,Whitman,53075,Republican,70167
839048,839048,99403,Other direct selling establishments,4049997.0,Whitman,53075,Republican,70167

In [61]:
zipToState = zipToCounty_df.set_index('ZIP')['STATE'].to_dict()

In [167]:
#cleaned_df['STATE'] = pd.merge(, df2, how='inner', left_on='UniqueID', right_on='ID')

In [168]:
zipToState

{36003: 'AL',
 36006: 'AL',
 36067: 'AL',
 36066: 'AL',
 36703: 'AL',
 36701: 'AL',
 36091: 'AL',
 36051: 'AL',
 36068: 'AL',
 36008: 'AL',
 36022: 'AL',
 36749: 'AL',
 36758: 'AL',
 36550: 'AL',
 36551: 'AL',
 36527: 'AL',
 36577: 'AL',
 36559: 'AL',
 36536: 'AL',
 36576: 'AL',
 36579: 'AL',
 36502: 'AL',
 36578: 'AL',
 36533: 'AL',
 36564: 'AL',
 36561: 'AL',
 36580: 'AL',
 36535: 'AL',
 36547: 'AL',
 36549: 'AL',
 36530: 'AL',
 36562: 'AL',
 36532: 'AL',
 36526: 'AL',
 36555: 'AL',
 36511: 'AL',
 36567: 'AL',
 36574: 'AL',
 36480: 'AL',
 36507: 'AL',
 36542: 'AL',
 36017: 'AL',
 36016: 'AL',
 36311: 'AL',
 36374: 'AL',
 36048: 'AL',
 36053: 'AL',
 36317: 'AL',
 36027: 'AL',
 36072: 'AL',
 35035: 'AL',
 35034: 'AL',
 36750: 'AL',
 35115: 'AL',
 35188: 'AL',
 36793: 'AL',
 35074: 'AL',
 35042: 'AL',
 35111: 'AL',
 35184: 'AL',
 36792: 'AL',
 35456: 'AL',
 35031: 'AL',
 35121: 'AL',
 35063: 'AL',
 35016: 'AL',
 35079: 'AL',
 35097: 'AL',
 35133: 'AL',
 35957: 'AL',
 35126: 'AL',
 35049: 'AL',
 35172: 'AL',
 35952: 'AL',
 35180: 'AL',
 35146: 'AL',
 35976: 'AL',
 35980: 'AL',
 35013: 'AL',
 36830: 'AL',
 36031: 'AL',
 36089: 'AL',
 36029: 'AL',
 36081: 'AL',
 36860: 'AL',
 36005: 'AL',
 36052: 'AL',
 36037: 'AL',
 36033: 'AL',
 36032: 'AL',
 36456: 'AL',
 36474: 'AL',
 36030: 'AL',
 36042: 'AL',
 36071: 'AL',
 36015: 'AL',
 36206: 'AL',
 36204: 'AL',
 35096: 'AL',
 36279: 'AL',
 36205: 'AL',
 36260: 'AL',
 36271: 'AL',
 36272: 'AL',
 36201: 'AL',
 36203: 'AL',
 36207: 'AL',
 36265: 'AL',
 36202: 'AL',
 36257: 'AL',
 36253: 'AL',
 36254: 'AL',
 35905: 'AL',
 36250: 'AL',
 36277: 'AL',
 36852: 'AL',
 36855: 'AL',
 36879: 'AL',
 36274: 'AL',
 36862: 'AL',
 36863: 'AL',
 36801: 'AL',
 36854: 'AL',
 36276: 'AL',
 36850: 'AL',
 35973: 'AL',
 35959: 'AL',
 35901: 'AL',
 35984: 'AL',
 35967: 'AL',
 35961: 'AL',
 35903: 'AL',
 36275: 'AL',
 35960: 'AL',
 35983: 'AL',
 35040: 'AL',
 36790: 'AL',
 35046: 'AL',
 35045: 'AL',
 35171: 'AL',
 35085: 'AL',
 36908: 'AL',
 36913: 'AL',
 36919: 'AL',
 36921: 'AL',
 36904: 'AL',
 36912: 'AL',
 36910: 'AL',
 36916: 'AL',
 36922: 'AL',
 36558: 'AL',
 36915: 'AL',
 36436: 'AL',
 36751: 'AL',
 36446: 'AL',
 36524: 'AL',
 36784: 'AL',
 36451: 'AL',
 36540: 'AL',
 36482: 'AL',
 36727: 'AL',
 36782: 'AL',
 36545: 'AL',
 36251: 'AL',
 36267: 'AL',
 35082: 'AL',
 35160: 'AL',
 35072: 'AL',
 35089: 'AL',
 36266: 'AL',
 36255: 'AL',
 36256: 'AL',
 36258: 'AL',
 36268: 'AL',
 36273: 'AL',
 36269: 'AL',
 36262: 'AL',
 36261: 'AL',
 36264: 'AL',
 36322: 'AL',
 36453: 'AL',
 36079: 'AL',
 36351: 'AL',
 36477: 'AL',
 36346: 'AL',
 36010: 'AL',
 36318: 'AL',
 36034: 'AL',
 36316: 'AL',
 36009: 'AL',
 36330: 'AL',
 36323: 'AL',
 36467: 'AL',
 36360: 'AL',
 35616: 'AL',
 35654: 'AL',
 35646: 'AL',
 35653: 'AL',
 35582: 'AL',
 35674: 'AL',
 35661: 'AL',
 35672: 'AL',
 35660: 'AL',
 36471: 'AL',
 36426: 'AL',
 36454: 'AL',
 36460: 'AL',
 36401: 'AL',
 36442: 'AL',
 36473: 'AL',
 36475: 'AL',
 36432: 'AL',
 36421: 'AL',
 35151: 'AL',
 35150: 'AL',
 36026: 'AL',
 36080: 'AL',
 35136: 'AL',
 35010: 'AL',
 35183: 'AL',
 36420: 'AL',
 36483: 'AL',
 36455: 'AL',
 36476: 'AL',
 36038: 'AL',
 36028: 'AL',
 36035: 'AL',
 36049: 'AL',
 36036: 'AL',
 36041: 'AL',
 36046: 'AL',
 35057: 'AL',
 35087: 'AL',
 35033: 'AL',
 35058: 'AL',
 35056: 'AL',
 35179: 'AL',
 35622: 'AL',
 35053: 'AL',
 35098: 'AL',
 35619: 'AL',
 35541: 'AL',
 35670: 'AL',
 35077: 'AL',
 35621: 'AL',
 35540: 'AL',
 35083: 'AL',
 35070: 'AL',
 35019: 'AL',
 35055: 'AL',
 36303: 'AL',
 36353: 'AL',
 36345: 'AL',
 36371: 'AL',
 36350: 'AL',
 36362: 'AL',
 36361: 'AL',
 36352: 'AL',
 36761: 'AL',
 36767: 'AL',
 36773: 'AL',
 36785: 'AL',
 36759: 'AL',
 36775: 'AL',
 35962: 'AL',
 35968: 'AL',
 35765: 'AL',
 35986: 'AL',
 35971: 'AL',
 35956: 'AL',
 35989: 'AL',
 35988: 'AL',
 35771: 'AL',
 35978: 'AL',
 35966: 'AL',
 35963: 'AL',
 35979: 'AL',
 35975: 'AL',
 35974: 'AL',
 35951: 'AL',
 35981: 'AL',
 35954: 'AL',
 36054: 'AL',
 36024: 'AL',
 36025: 'AL',
 36020: 'AL',
 36093: 'AL',
 36078: 'AL',
 36092: 'AL',
 36543: 'AL',
 36441: 'AL',
 36503: 'AL',
 35902: 'AL',
 35906: 'AL',
 35972: 'AL',
 35990: 'AL',
 35904: 'AL',
 35907: 'AL',
 35574: 'AL',
 35594: 'AL',
 35545: 'AL',
 35546: 'AL',
 35554: 'AL',
 35555: 'AL',
 35579: 'AL',
 35549: 'AL',
 35563: 'AL',
 35559: 'AL',
 35542: 'AL',
 35593: 'AL',
 35585: 'AL',
 35571: 'AL',
 35565: 'AL',
 35581: 'AL',
 35564: 'AL',
 36344: 'AL',
 36313: 'AL',
 36375: 'AL',
 36340: 'AL',
 36301: 'AL',
 36314: 'AL',
 36305: 'AL',
 36349: 'AL',
 35462: 'AL',
 35491: 'AL',
 35469: 'AL',
 35480: 'AL',
 35443: 'AL',
 35464: 'AL',
 36740: 'AL',
 35463: 'AL',
 35448: 'AL',
 35441: 'AL',
 36765: 'AL',
 36738: 'AL',
 36744: 'AL',
 36786: 'AL',
 36756: 'AL',
 35474: 'AL',
 36776: 'AL',
 36742: 'AL',
 36319: 'AL',
 36373: 'AL',
 36310: 'AL',
 36321: 'AL',
 36343: 'AL',
 36320: 'AL',
 36312: 'AL',
 36370: 'AL',
 36302: 'AL',
 36376: 'AL',
 35772: 'AL',
 35744: 'AL',
 35769: 'AL',
 35748: 'AL',
 35768: 'AL',
 35752: 'AL',
 35766: 'AL',
 35776: 'AL',
 35755: 'AL',
 35764: 'AL',
 35958: 'AL',
 35746: 'AL',
 35774: 'AL',
 35740: 'AL',
 35745: 'AL',
 35751: 'AL',
 35212: 'AL',
 35215: 'AL',
 35173: 'AL',
 35205: 'AL',
 35232: 'AL',
 35218: 'AL',
 35444: 'AL',
 35048: 'AL',
 35254: 'AL',
 35181: 'AL',
 35294: 'AL',
 35130: 'AL',
 35208: 'AL',
 35224: 'AL',
 35202: 'AL',
 35209: 'AL',
 35235: 'AL',
 35091: 'AL',
 35061: 'AL',
 35207: 'AL',
 35211: 'AL',
 35217: 'AL',
 35219: 'AL',
 35116: 'AL',
 35062: 'AL',
 35127: 'AL',
 35210: 'AL',
 35214: 'AL',
 35222: 'AL',
 35006: 'AL',
 35023: 'AL',
 35022: 'AL',
 35243: 'AL',
 35244: 'AL',
 35236: 'AL',
 35270: 'AL',
 35295: 'AL',
 35119: 'AL',
 35015: 'AL',
 35139: 'AL',
 35073: 'AL',
 35117: 'AL',
 35216: 'AL',
 35223: 'AL',
 35020: 'AL',
 35242: 'AL',
 35234: 'AL',
 35231: 'AL',
 35220: 'AL',
 35229: 'AL',
 35123: 'AL',
 35060: 'AL',
 35293: 'AL',
 35206: 'AL',
 35226: 'AL',
 35213: 'AL',
 35228: 'AL',
 35255: 'AL',
 35249: 'AL',
 35064: 'AL',
 35005: 'AL',
 35021: 'AL',
 35036: 'AL',
 35285: 'AL',
 35080: 'AL',
 35094: 'AL',
 35068: 'AL',
 35071: 'AL',
 35118: 'AL',
 35204: 'AL',
 35203: 'AL',
 35221: 'AL',
 35201: 'AL',
 35233: 'AL',
 35266: 'AL',
 35259: 'AL',
 35260: 'AL',
 35253: 'AL',
 35261: 'AL',
 35148: 'AL',
 35142: 'AL',
 35586: 'AL',
 35544: 'AL',
 35552: 'AL',
 35576: 'AL',
 35592: 'AL',
 35570: 'AL',
 35677: 'AL',
 35614: 'AL',
 35617: 'AL',
 35633: 'AL',
 35648: 'AL',
 35630: 'AL',
 35634: 'AL',
 35652: 'AL',
 35631: 'AL',
 35645: 'AL',
 35610: 'AL',
 35632: 'AL',
 35650: 'AL',
 35643: 'AL',
 35651: 'AL',
 35603: 'AL',
 35618: 'AL',
 35673: 'AL',
 36865: 'AL',
 36832: 'AL',
 36804: 'AL',
 36849: 'AL',
 36867: 'AL',
 36831: 'AL',
 36877: 'AL',
 36874: 'AL',
 36866: 'AL',
 36870: 'AL',
 36803: 'AL',
 35611: 'AL',
 35612: 'AL',
 35739: 'AL',
 35749: 'AL',
 35613: 'AL',
 35649: 'AL',
 35757: 'AL',
 35671: 'AL',
 35620: 'AL',
 35742: 'AL',
 35773: 'AL',
 35647: 'AL',
 35615: 'AL',
 35756: 'AL',
 36047: 'AL',
 36040: 'AL',
 36752: 'AL',
 36043: 'AL',
 36013: 'AL',
 36075: 'AL',
 36083: 'AL',
 36088: 'AL',
 36039: 'AL',
 36087: 'AL',
 35806: 'AL',
 35807: 'AL',
 35897: 'AL',
 35750: 'AL',
 35814: 'AL',
 35899: 'AL',
 35893: 'AL',
 35810: 'AL',
 35805: 'AL',
 35815: 'AL',
 35767: 'AL',
 35763: 'AL',
 35758: 'AL',
 35803: 'AL',
 35808: 'AL',
 35804: 'AL',
 35760: 'AL',
 35762: 'AL',
 35895: 'AL',
 35898: 'AL',
 35741: 'AL',
 35759: 'AL',
 35812: 'AL',
 35802: 'AL',
 35816: 'AL',
 35813: 'AL',
 35809: 'AL',
 35896: 'AL',
 35801: 'AL',
 35761: 'AL',
 35811: 'AL',
 35824: 'AL',
 35894: 'AL',
 36745: 'AL',
 36728: 'AL',
 36722: 'AL',
 36763: 'AL',
 36732: 'AL',
 36748: 'AL',
 36754: 'AL',
 36736: 'AL',
 36783: 'AL',
 36764: 'AL',
 36769: 'AL',
 35548: 'AL',
 35543: 'AL',
 35754: 'AL',
 35747: 'AL',
 35964: 'AL',
 35175: 'AL',
 35950: 'AL',
 36688: 'AL',
 36505: 'AL',
 36618: 'AL',
 36608: 'AL',
 36611: 'AL',
 36602: 'AL',
 36590: 'AL',
 36670: 'AL',
 36560: 'AL',
 36521: 'AL',
 36575: 'AL',
 36544: 'AL',
 36619: 'AL',
 36652: 'AL',
 36685: 'AL',
 36528: 'AL',
 36522: 'AL',
 36525: 'AL',
 36571: 'AL',
 36572: 'AL',
 36582: 'AL',
 36603: 'AL',
 36606: 'AL',
 36689: 'AL',
 36644: 'AL',
 36675: 'AL',
 36523: 'AL',
 36604: 'AL',
 36695: 'AL',
 36587: 'AL',
 36617: 'AL',
 36691: 'AL',
 36509: 'AL',
 36640: 'AL',
 36663: 'AL',
 36512: 'AL',
 36612: 'AL',
 36693: 'AL',
 36601: 'AL',
 36660: 'AL',
 36568: 'AL',
 36605: 'AL',
 36671: 'AL',
 36609: 'AL',
 36616: 'AL',
 36541: 'AL',
 36610: 'AL',
 36607: 'AL',
 36613: 'AL',
 36615: 'AL',
 36633: 'AL',
 36481: 'AL',
 36444: 'AL',
 36470: 'AL',
 36768: 'AL',
 36445: 'AL',
 36425: 'AL',
 36726: 'AL',
 36439: 'AL',
 36458: 'AL',
 36105: 'AL',
 36117: 'AL',
 36069: 'AL',
 36124: 'AL',
 36118: 'AL',
 36065: 'AL',
 36106: 'AL',
 36064: 'AL',
 36110: 'AL',
 36119: 'AL',
 36116: 'AL',
 36130: 'AL',
 36109: 'AL',
 36113: 'AL',
 36123: 'AL',
 36111: 'AL',
 36101: 'AL',
 36102: 'AL',
 36121: 'AL',
 36104: 'AL',
 36057: 'AL',
 36107: 'AL',
 36125: 'AL',
 36120: 'AL',
 36103: 'AL',
 36114: 'AL',
 36112: 'AL',
 36108: 'AL',
 36115: 'AL',
 36131: 'AL',
 35601: 'AL',
 35602: 'AL',
 35775: 'AL',
 35640: 'AL',
 35466: 'AL',
 35461: 'AL',
 35481: 'AL',
 35442: 'AL',
 35447: 'AL',
 35471: 'AL',
 36082: 'AL',
 36280: 'AL',
 36278: 'AL',
 36263: 'AL',
 36871: 'AL',
 36869: 'AL',
 36875: 'AL',
 36858: 'AL',
 36856: 'AL',
 36851: 'AL',
 36868: 'AL',
 35054: 'AL',
 35135: 'AL',
 35182: 'AL',
 35178: 'AL',
 35120: 'AL',
 35004: 'AL',
 35131: 'AL',
 35052: 'AL',
 35987: 'AL',
 35125: 'AL',
 35112: 'AL',
 35128: 'AL',
 35953: 'AL',
 35124: 'AL',
 35051: 'AL',
 35078: 'AL',
 35143: 'AL',
 35187: 'AL',
 35043: 'AL',
 35114: 'AL',
 35007: 'AL',
 35238: 'AL',
 35147: 'AL',
 35137: 'AL',
 35185: 'AL',
 35186: 'AL',
 35176: 'AL',
 35459: 'AL',
 35460: 'AL',
 35477: 'AL',
 35470: 'AL',
 36907: 'AL',
 36901: 'AL',
 36925: 'AL',
 35044: 'AL',
 35014: 'AL',
 35149: 'AL',
 35032: 'AL',
 36861: 'AL',
 36853: 'AL',
 35457: 'AL',
 35468: 'AL',
 35453: 'AL',
 35486: 'AL',
 35449: 'AL',
 35405: 'AL',
 35402: 'AL',
 35403: 'AL',
 35478: 'AL',
 35452: 'AL',
 35490: 'AL',
 35440: 'AL',
 35401: 'AL',
 35475: 'AL',
 35482: 'AL',
 35404: 'AL',
 35473: 'AL',
 35476: 'AL',
 35446: 'AL',
 35458: 'AL',
 35406: 'AL',
 35407: 'AL',
 35587: 'AL',
 35560: 'AL',
 35550: 'AL',
 35580: 'AL',
 35502: 'AL',
 35501: 'AL',
 35503: 'AL',
 35038: 'AL',
 35584: 'AL',
 35573: 'AL',
 35504: 'AL',
 35578: 'AL',
 36529: 'AL',
 36583: 'AL',
 36548: 'AL',
 36538: 'AL',
 36513: 'AL',
 36553: 'AL',
 36581: 'AL',
 36518: 'AL',
 36584: 'AL',
 36569: 'AL',
 36585: 'AL',
 36539: 'AL',
 36556: 'AL',
 36435: 'AL',
 36720: 'AL',
 36741: 'AL',
 36766: 'AL',
 36753: 'AL',
 36723: 'AL',
 35551: 'AL',
 35553: 'AL',
 35575: 'AL',
 35577: 'AL',
 35572: 'AL',
 99553: 'AK',
 99583: 'AK',
 99612: 'AK',
 99661: 'AK',
 99571: 'AK',
 99685: 'AK',
 99591: 'AK',
 99547: 'AK',
 99660: 'AK',
 99546: 'AK',
 99638: 'AK',
 99692: 'AK',
 99517: 'AK',
 99523: 'AK',
 99520: 'AK',
 99529: 'AK',
 99502: 'AK',
 99516: 'AK',
 99503: 'AK',
 99577: 'AK',
 99587: 'AK',
 99508: 'AK',
 99518: 'AK',
 99567: 'AK',
 99524: 'AK',
 99521: 'AK',
 99530: 'AK',
 99599: 'AK',
 99506: 'AK',
 99540: 'AK',
 99510: 'AK',
 99501: 'AK',
 99505: 'AK',
 99509: 'AK',
 99504: 'AK',
 99519: 'AK',
 99522: 'AK',
 99515: 'AK',
 99507: 'AK',
 99514: 'AK',
 99511: 'AK',
 99513: 'AK',
 99681: 'AK',
 99621: 'AK',
 99551: 'AK',
 99656: 'AK',
 99557: 'AK',
 99668: 'AK',
 99559: 'AK',
 99575: 'AK',
 99630: 'AK',
 99641: 'AK',
 99614: 'AK',
 99626: 'AK',
 99561: 'AK',
 99637: 'AK',
 99679: 'AK',
 99651: 'AK',
 99609: 'AK',
 99690: 'AK',
 99545: 'AK',
 99607: 'AK',
 99680: 'AK',
 99578: 'AK',
 99634: 'AK',
 99655: 'AK',
 99589: 'AK',
 99622: 'AK',
 99552: 'AK',
 99613: 'AK',
 99633: 'AK',
 99670: 'AK',
 99729: 'AK',
 99744: 'AK',
 99743: 'AK',
 99755: 'AK',
 99628: 'AK',
 99576: 'AK',
 99580: 'AK',
 99569: 'AK',
 99636: 'AK',
 99678: 'AK',
 99555: 'AK',
 99707: 'AK',
 99709: 'AK',
 99712: 'AK',
 99714: 'AK',
 99701: 'AK',
 99775: 'AK',
 99790: 'AK',
 99706: 'AK',
 99703: 'AK',
 99705: 'AK',
 99708: 'AK',
 99725: 'AK',
 99702: 'AK',
 99827: 'AK',
 99820: 'AK',
 99841: 'AK',
 99829: 'AK',
 99825: 'AK',
 99832: 'AK',
 99826: 'AK',
 99811: 'AK',
 99801: 'AK',
 99824: 'AK',
 99611: 'AK',
 99556: 'AK',
 99631: 'AK',
 99663: 'AK',
 99568: 'AK',
 99639: 'AK',
 99664: 'AK',
 99682: 'AK',
 99572: 'AK',
 99610: 'AK',
 99605: 'AK',
 99635: 'AK',
 99672: 'AK',
 99669: 'AK',
 99603: 'AK',
 99928: 'AK',
 99901: 'AK',
 99644: 'AK',
 99643: 'AK',
 99608: 'AK',
 99624: 'AK',
 99550: 'AK',
 99615: 'AK',
 99579: 'AK',
 99565: 'AK',
 99625: 'AK',
 99564: 'AK',
 99549: 'AK',
 99653: 'AK',
 99640: 'AK',
 99649: 'AK',
 99548: 'AK',
 99606: 'AK',
 99647: 'AK',
 99648: 'AK',
 99674: 'AK',
 99676: 'AK',
 99645: 'AK',
 99623: 'AK',
 99654: 'AK',
 99694: 'AK',
 99687: 'AK',
 99652: 'AK',
 99683: 'AK',
 99688: 'AK',
 99667: 'AK',
 99784: 'AK',
 99739: 'AK',
 99785: 'AK',
 99771: 'AK',
 99783: 'AK',
 99684: 'AK',
 99778: 'AK',
 99762: 'AK',
 99742: 'AK',
 99671: 'AK',
 99753: 'AK',
 99659: 'AK',
 99769: 'AK',
 99772: 'AK',
 99734: 'AK',
 99791: 'AK',
 99747: 'AK',
 99723: 'AK',
 99759: 'AK',
 99766: 'AK',
 99782: 'AK',
 99721: 'AK',
 99789: 'AK',
 99761: 'AK',
 99763: 'AK',
 99750: 'AK',
 99727: 'AK',
 99752: 'AK',
 99751: 'AK',
 99736: 'AK',
 99773: 'AK',
 99770: 'AK',
 99749: 'AK',
 99786: 'AK',
 99833: 'AK',
 99830: 'AK',
 99836: 'AK',
 99927: 'AK',
 99926: 'AK',
 99919: 'AK',
 99918: 'AK',
 99921: 'AK',
 99925: 'AK',
 99922: 'AK',
 99923: 'AK',
 99835: 'AK',
 99840: 'AK',
 99764: 'AK',
 99738: 'AK',
 99776: 'AK',
 99731: 'AK',
 99780: 'AK',
 99732: 'AK',
 99737: 'AK',
 99588: 'AK',
 99586: 'AK',
 99677: 'AK',
 99574: 'AK',
 99566: 'AK',
 99573: 'AK',
 99686: 'AK',
 99693: 'AK',
 99620: 'AK',
 99658: 'AK',
 99650: 'AK',
 99585: 'AK',
 99666: 'AK',
 99581: 'AK',
 99604: 'AK',
 99632: 'AK',
 99662: 'AK',
 99657: 'AK',
 99554: 'AK',
 99563: 'AK',
 99903: 'AK',
 99929: 'AK',
 99689: 'AK',
 99757: 'AK',
 99758: 'AK',
 99733: 'AK',
 99740: 'AK',
 ...}

In [63]:
cleaned_df['State'] = cleaned_df.ZIP.replace(zipToState)

In [67]:
countyPop = pd.read_csv('FRED_countyPop.csv')

In [68]:
cleaned_df

,Unnamed: 0,ZIP,NAIC,EST_SALES,County,FIPS,politicalParty,AGI,State
0,0,6001,Retail trade,72699984.0,Hartford,9003,Democrat,1122137,CT
1,1,6001,Motor vehicle and parts dealers,3000000.0,Hartford,9003,Democrat,1122137,CT
2,2,6001,Automobile dealers,1500000.0,Hartford,9003,Democrat,1122137,CT
3,3,6001,New car dealers,3000000.0,Hartford,9003,Democrat,1122137,CT
4,4,6001,"Automotive parts, accessories, and tire stores",1500000.0,Hartford,9003,Democrat,1122137,CT
...,...,...,...,...,...,...,...,...,...
839044,839044,99403,Electronic shopping and mail-order houses,0.0,Whitman,53075,Republican,70167,WA
839045,839045,99403,Electronic shopping,0.0,Whitman,53075,Republican,70167,WA
839046,839046,99403,Direct selling establishments,2774998.0,Whitman,53075,Republican,70167,WA
839047,839047,99403,Fuel dealers,1499999.0,Whitman,53075,Republican,70167,WA
839048,839048,99403,Other direct selling establishments,4049997.0,Whitman,53075,Republican,70167,WA

In [72]:
zipCodePopulation_df = pd.read_csv('2010census.csv')

In [113]:
zipCodePopulation_df

       ZipCode  2010 Census Population
0         1001                   16769
1         1002                   29049
2         1003                   10372
3         1005                    5079
4         1007                   14649
...        ...                     ...
33087    99923                      87
33088    99925                     819
33089    99926                    1460
33090    99927                      94
33091    99929                    2338

[33092 rows x 2 columns]

In [74]:
zipToPop = zipCodePopulation_df.set_index('ZipCode')['2010 Census Population'].to_dict()

In [76]:
cleaned_df['Population'] = cleaned_df.ZIP.replace(zipToPop)

In [225]:
cleaned_df

,Unnamed: 0,ZIP,NAIC,EST_SALES,County,FIPS,politicalParty,AGI,State,Population
0,0,6001,Retail trade,72699984.0,Hartford,9003,Democrat,1122137,CT,18385
1,1,6001,Motor vehicle and parts dealers,3000000.0,Hartford,9003,Democrat,1122137,CT,18385
2,2,6001,Automobile dealers,1500000.0,Hartford,9003,Democrat,1122137,CT,18385
3,3,6001,New car dealers,3000000.0,Hartford,9003,Democrat,1122137,CT,18385
4,4,6001,"Automotive parts, accessories, and tire stores",1500000.0,Hartford,9003,Democrat,1122137,CT,18385
...,...,...,...,...,...,...,...,...,...,...
839044,839044,99403,Electronic shopping and mail-order houses,0.0,Whitman,53075,Republican,70167,WA,19548
839045,839045,99403,Electronic shopping,0.0,Whitman,53075,Republican,70167,WA,19548
839046,839046,99403,Direct selling establishments,2774998.0,Whitman,53075,Republican,70167,WA,19548
839047,839047,99403,Fuel dealers,1499999.0,Whitman,53075,Republican,70167,WA,19548
839048,839048,99403,Other direct selling establishments,4049997.0,Whitman,53075,Republican,70167,WA,19548

In [226]:
zipBusinessData2012_df = pd.read_csv('2012Business.csv')

In [227]:
zipBusinessData2012_df

,twelvezip,twelvename,twelvestate,twelveempflag,twelveemp_nf,twelveemp,twelveqp1_nf,twelveqp1,twelveap_nf,twelveap,twelveest,twelvecity,twelvestabbr,twelvecty_name
0,501,HOLTSVILLE,NY,A,D,0,D,0,D,0,2.0,HOLTSVILLE,NY,SUFFOLK
1,1001,AGAWAM,MA,NaN,G,9033,G,84256,G,356861,453.0,AGAWAM,MA,HAMPDEN
2,1002,AMHERST,MA,NaN,H,16422,G,90914,G,378362,572.0,AMHERST,MA,HAMPSHIRE
3,1003,AMHERST,MA,NaN,G,199,G,2003,G,8009,15.0,AMHERST,MA,HAMPSHIRE
4,1004,AMHERST,MA,NaN,H,161,H,1140,H,5107,16.0,AMHERST,MA,HAMPSHIRE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38813,99927,POINT BAKER,AK,A,D,0,D,0,D,0,3.0,POINT BAKER,AK,PRINCE OF WALES HYDER
38814,99928,WARD COVE,AK,B,D,0,D,0,D,0,5.0,WARD COVE,AK,KETCHIKAN GATEWAY
38815,99929,WRANGELL,AK,NaN,H,545,G,4189,G,20213,84.0,WRANGELL,AK,WRANGELL
38816,99950,KETCHIKAN,AK,B,D,0,D,0,D,0,5.0,KETCHIKAN,AK,KETCHIKAN GATEWAY
38817,99999,UNCLASSIFIED,NaN,G,2733406,G,34454160,G,137984844,16465,NaN,,NaN,NaN

In [228]:
zipBusinessData2013_df = pd.read_csv('2013Business.csv')

In [229]:
zipBusinessData2013_df

,thirteenzip,thirteenname,thirteenstate,thirteenempflag,thirteenemp_nf,thirteenemp,thirteenqp1_nf,thirteenqp1,thirteenap_nf,thirteenap,thirteenest,thirteencity,thirteenstabbr,thirteencty_name
0,501,HOLTSVILLE,NY,A,D,0,D,0,D,0,2.0,HOLTSVILLE,NY,SUFFOLK
1,1001,AGAWAM,MA,NaN,G,9418,G,92083,G,373116,439.0,AGAWAM,MA,HAMPDEN
2,1002,AMHERST,MA,NaN,H,17263,G,95047,G,398992,572.0,AMHERST,MA,HAMPSHIRE
3,1003,AMHERST,MA,NaN,G,184,H,1754,H,7181,15.0,AMHERST,MA,HAMPSHIRE
4,1004,AMHERST,MA,NaN,H,179,H,1168,H,5019,16.0,AMHERST,MA,HAMPSHIRE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38799,99927,POINT BAKER,AK,NaN,G,3,S,0,H,64,3.0,POINT BAKER,AK,PRINCE OF WALES HYDER
38800,99928,WARD COVE,AK,B,D,0,D,0,D,0,6.0,WARD COVE,AK,KETCHIKAN GATEWAY
38801,99929,WRANGELL,AK,NaN,H,524,G,4364,G,19045,86.0,WRANGELL,AK,WRANGELL
38802,99950,KETCHIKAN,AK,B,D,0,D,0,D,0,5.0,KETCHIKAN,AK,KETCHIKAN GATEWAY
38803,99999,UNCLASSIFIED,NaN,G,3071633,G,40216416,G,161671467,18254,NaN,,NaN,NaN

In [230]:
len(zipBusinessData2012)

38818

In [231]:
len(zipBusinessData2013)

38804

In [232]:
zipBusinessData2017_df = pd.read_csv('2017Business.csv')

In [233]:
zipBusinessData2017_df

,seventeenzip,seventeenname,seventeenState,seventeenempflag,seventeenemp_nf,seventeenemp,seventeenqp1_nf,seventeenqp1,seventeenap_nf,seventeenap,seventeenest,seventeencity,seventeenstabbr,seventeencty_name
0,1001,AGAWAM,MA,NaN,G,9891,G,96616,G,422470,473.0,AGAWAM,MA,HAMPDEN
1,1002,AMHERST,MA,NaN,H,8482,H,70277,H,299103,545.0,AMHERST,MA,HAMPSHIRE
2,1003,AMHERST,MA,NaN,G,337,H,2461,H,10380,21.0,AMHERST,MA,HAMPSHIRE
3,1004,AMHERST,MA,NaN,H,213,H,1422,H,5912,12.0,AMHERST,MA,HAMPSHIRE
4,1005,BARRE,MA,NaN,H,1248,H,8163,H,35287,94.0,BARRE,MA,WORCESTER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35274,99926,METLAKATLA,AK,NaN,J,88,J,587,J,5940,11.0,METLAKATLA,AK,PRINCE OF WALES-HYDER CEN
35275,99928,WARD COVE,AK,NaN,J,17,G,110,H,850,5.0,WARD COVE,AK,KETCHIKAN GATEWAY BOROUGH
35276,99929,WRANGELL,AK,NaN,G,662,G,6454,G,22974,99.0,WRANGELL,AK,WRANGELL CITY AND BOROUGH
35277,99950,KETCHIKAN,AK,NaN,G,40,J,122,H,744,13.0,KETCHIKAN,AK,KETCHIKAN GATEWAY BOROUGH
35278,99999,UNCLASSIFIED,NaN,G,5400648,G,69733478,G,276475357,30741,NaN,,NaN,NaN

In [234]:
twelveziptoemp = zipBusinessData2012_df.set_index('twelvezip')['twelveemp'].to_dict()

In [235]:
thirteenziptoemp = zipBusinessData2013_df.set_index('thirteenzip')['thirteenemp'].to_dict()

In [236]:
seventeenziptoemp = zipBusinessData2017_df.set_index('seventeenzip')['seventeenemp'].to_dict()

In [245]:
businessYearChange_df = zipBusinessData2012_df[['twelvezip', 'twelveemp']].copy()

In [246]:
businessYearChange_df

       twelvezip twelveemp
0            501         0
1           1001      9033
2           1002     16422
3           1003       199
4           1004       161
...          ...       ...
38813      99927         0
38814      99928         0
38815      99929       545
38816      99950         0
38817      99999         G

[38818 rows x 2 columns]

In [269]:
businessYearChange_df['thirteenemp'] = businessYearChange_df.twelvezip.replace(thirteenziptoemp)

In [270]:
businessYearChange_df['seventeenemp'] = businessYearChange_df.twelvezip.replace(seventeenziptoemp)

In [276]:
businessYearChange_df

       twelvezip twelveemp  13emp  17emp thirteenemp seventeenemp
0            501         0      0    501           0          501
1           1001      9033   9418   9891        9418         9891
2           1002     16422  17263   8482       17263         8482
3           1003       199    184    337         184          337
4           1004       161    179    213         179          213
...          ...       ...    ...    ...         ...          ...
38813      99927         0      3  99927           3        99927
38814      99928         0      0     17           0           17
38815      99929       545    524    662         524          662
38816      99950         0      0     40           0           40
38817      99999         G      G      G           G            G

[38818 rows x 6 columns]

In [289]:
#businessYearChange_df['thirteenemp'] = businessYearChange_df['thirteenemp'].astype(int)
businessYearChange_df[businessYearChange_df.twelveemp.apply(lambda x: x.isnumeric())]
businessYearChange_df[businessYearChange_df.thirteenemp.apply(lambda i: i.isnumeric())]
#businessYearChange_df[businessYearChange_df.thirteenemp.apply(lambda x: x.isnumeric())]

#businessYearChange_df[businessYearChange_df.seventeenemp.apply(lambda x: x.isnumeric())]

AttributeError: 'int' object has no attribute 'isnumeric'

In [288]:
businessYearsChange_df['emp%change12-13'] = (businessYearChange_df['thirteenemp'] - businessYearChange_df[('twelveemp')]) / businessYearChange[('twelveemp')]

TypeError: cannot convert the series to <class 'int'>

In [ ]:
businessYearsChange_df['emp%change12-17'] = (businessYearsChange_df['seventeenemp'] - businessYearsChange_df['twelveemp']) / businessYearsChange['twelveemp']

In [ ]:
twelveziptoemp = zipBusinessData2012_df.set_index('twelvezip')['twelveemp'].to_dict()
thirteenziptoemp = zipBusinessData2013_df.set_index('thirteenzip')['thirteenemp'].to_dict()
seventeenziptoemp = zipBusinessData2017_df.set_index('seventeenzip')['seventeenemp'].to_dict()